UnityEditorProject/Library/
UnityTool/Library/
UnityTool/UnityTool.sln
UnityTool/Assembly-CSharp.csproj
UnityEditorProject/Temp/
UnityEditorProject/UnityEditorProject.sln
UnityEditorProject/Assembly-CSharp.csproj
UnityEditorProject/Assembly-CSharp-Editor.csproj
UnityTool/Assembly-CSharp-firstpass.csproj
UnityTool/Temp/
UnityTool/test.json
UnityTool/jianshu/
UnityEditorProject/obj/
UnityEditorProject/.vs/
UnityEditorProject/Logs/
UnityTool/.vs/
UnityTool/obj/
UnityTool/Logs/
